
  <!--DO NOT REMOVE-->
  {{{ patternLabFoot }}}

  <!-- jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <!-- scripts -->
  <script type="text/javascript" src="/js/scripts.js"></script>

  <!-- Typekit -->
  <script src="https://use.typekit.net/srg3zzl.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>

  <!-- Google Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>

  <!-- Material Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Font-Awesome -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">

  </body>
</html>
